<BoundaryExtractor guiclass="BoundaryExtractorGui" testclass="BoundaryExtractor" testname="{{ testname }}" enabled="true">
  <stringProp name="BoundaryExtractor.useHeaders">{{ use_headers }}</stringProp>
  <stringProp name="BoundaryExtractor.refname">{{ var }}</stringProp>
  <stringProp name="BoundaryExtractor.lboundary">{{ lboundary }}</stringProp>
  <stringProp name="BoundaryExtractor.rboundary">{{ rboundary }}</stringProp>
  <stringProp name="BoundaryExtractor.default">{{ default_value }}</stringProp>
  <boolProp name="BoundaryExtractor.default_empty_value">false</boolProp>
  <stringProp name="BoundaryExtractor.match_number">1</stringProp>
</BoundaryExtractor>
