<CacheManager guiclass="CacheManagerGui" testclass="CacheManager" testname="HTTP Cache Manager" enabled="true">
  <boolProp name="clearEachIteration">true</boolProp>
  <boolProp name="useExpires">true</boolProp>
  <boolProp name="CacheManager.controlledByThread">false</boolProp>
</CacheManager>
