<JSONPostProcessor guiclass="JSONPostProcessorGui" testclass="JSONPostProcessor" testname="{{ testname }}" enabled="true">
  <stringProp name="JSONPostProcessor.referenceNames">{{ var }}</stringProp>
  <stringProp name="JSONPostProcessor.jsonPathExprs">{{ expr }}</stringProp>
  <stringProp name="JSONPostProcessor.match_numbers">1</stringProp>
  <stringProp name="JSONPostProcessor.defaultValues">{{ default_value }}</stringProp>
  <boolProp name="JSONPostProcessor.compute_concat">false</boolProp>
</JSONPostProcessor>
