<JSR223Sampler guiclass="TestBeanGUI" testclass="JSR223Sampler" testname="{{ testname }}" enabled="true">
  <stringProp name="cacheKey">true</stringProp>
  <stringProp name="filename"></stringProp>
  <stringProp name="parameters"></stringProp>
  <stringProp name="scriptLanguage">groovy</stringProp>
  <stringProp name="script">{{ script }}</stringProp>
</JSR223Sampler>
