<RegexExtractor guiclass="RegexExtractorGui" testclass="RegexExtractor" testname="{{ testname }}" enabled="true">
  <stringProp name="RegexExtractor.useHeaders">{{ use_headers }}</stringProp>
  <stringProp name="RegexExtractor.refname">{{ var }}</stringProp>
  <stringProp name="RegexExtractor.regex">{{ expr }}</stringProp>
  <stringProp name="RegexExtractor.template">$1$</stringProp>
  <stringProp name="RegexExtractor.default">{{ default_value }}</stringProp>
  <boolProp name="RegexExtractor.default_empty_value">false</boolProp>
  <stringProp name="RegexExtractor.match_number">1</stringProp>
</RegexExtractor>
